[submodule "3rd-party/log"]
	path = 3rd-party/log
	url = https://github.com/mika314/log.git
[submodule "3rd-party/sdlpp"]
	path = 3rd-party/sdlpp
	url = https://github.com/mika314/sdlpp.git
[submodule "3rd-party/ser"]
	path = 3rd-party/ser
	url = https://github.com/mika314/ser.git
[submodule "3rd-party/json"]
	path = 3rd-party/json
	url = https://github.com/mika314/json.git
[submodule "3rd-party/pocketsphinx"]
	path = 3rd-party/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx.git
